<%= form_for @user do |f|%>
    <h3>Register here</h3>
    <%= f.text_field :username, class: 'validate' %>
    <%= f.label :username, 'User name' %>
    <%= f.password_field :password, class: 'validate' %>
    <%= f.label :password, 'Password' %>
    <%= f.email_field :email, placeholder: 'example@gmail.com', class: 'validate' %>
    <%= f.label :email, 'E-mail' %>
    <%= f.button  class: ['waves-effect', 'waves-light', 'btn'] %>
<% end %>